body{
    font-family: 'Playfair Display', serif;

    font-family: 'Poppins', sans-serif;

    font-family: 'Spline Sans', sans-serif;
}

.orange-color{
    color: rgb(255, 198, 93);
    line-height: 0;
}    
p{
    letter-spacing: 5%;
    line-height: 2.1;
    padding:5px
    
}
#left-margin{
    border-left: 6px solid tomato;
    border-radius: 2px;
    font-size: 40px;
    padding-left: 20px;
   
    
    
}


section{
    display: flex;
}
.size{
    width: 50%;
    padding-left: 13%;
    padding-top: 6%;
}
.size img{
    width: 70%;
}
.explore{
    text-decoration: none;
    background-image: linear-gradient(rgb(88, 255, 219),rgb(255, 213, 213));
    padding: 10px 40px;
    border-radius: 5px;
    

}
.center{ 
    font-size: 50px;
    text-align: center;
    
} 
.orange{
   
    color: rgb(219, 139, 33);
}
.box-shadow{
    box-shadow: 5px 5px rgb(255, 193, 142);
    width:30%;
    height: 28;
    margin-right: 5%;
    margin-left: 2%;
    margin-top: 2%;
    margin-bottom: 3%;
     padding: 20px;
    background-color: wheat;
    border-radius: 8%;
  
}
.pic{
    width: 40%;
    
}
.third-section{
    margin-top: 50%;
    padding-top: 3%;
    padding-left: 5%;
    display: block;
    
}
.resize{
    font-size: 50px;
    letter-spacing: 2%;
    line-height: 60px;
}
.left-size{
    width: 50%;
    padding-left: 13%;
    padding-top: 6%;

}
.left-size img{
    width: 400px;

}