body{
    font-family: 'Playfair Display', serif;

    font-family: 'Poppins', sans-serif;

    font-family: 'Spline Sans', sans-serif;
}

.orange-color{
    color: rgb(221, 149, 15);
    line-height: 0;
}    
p{
    letter-spacing: 5%;
    line-height: 2.1;
    padding:5px
    
}
.left-margin{
    border-left: 8px solid;
    border-radius: 10spx;
   font-size: 30px;
    padding-left: 20px;
    border-image: linear-gradient(tomato,black);
    border-image-slice: 2;
    background-image: url(./shapes/shape-5.png);
    background-repeat: no-repeat;
    background-position:left;
    background-size: 100px 100px;
    
   
    
    
}


section{
    display: flex;
    margin-bottom: 150px;
    
   
}
.size{
    width: 50%;
    padding-left: 13%;
    padding-top: 6%;
    
}
.size img{
    width: 70%;
}
.explore{
    text-decoration: none;
   background-color: rgb(238, 141, 124);
    padding: 10px 40px;
    border-radius: 5px;
    

}
.center{ 
    font-size: 50px;
    text-align: center;
    letter-spacing: 4%;
    
} 
.orange{
   
    color: rgb(219, 139, 33);
}
.box-shadow-1{
    box-shadow: 5px 5px  rgb(255, 193, 142);
    width:30%;
    height: 28;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 3%;
     padding: 20px;
    background-color: #f5deb3;
    border-radius: 8%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  
}
.box-shadow-2{
    box-shadow: 5px 5px rgb(255, 193, 142);
    width:30%;
    height: 28;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 3%;
     padding: 20px;
    background-color: rgb(249, 181, 255);
    border-radius: 8%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  
}
.box-shadow-3{
    box-shadow: 7px 5px rgb(235, 148, 247);
    width:30%;
    height: 28;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 3%;
     padding: 20px;
    background-color: rgb(176, 147, 255);
    border-radius: 8%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.pic{
    width: 40%;
    
}
.third-section{
    
    padding-top: 3%;
    padding-left: 5%;
    text-align: justify;
    font-size: 110%;
    
    
}
.resize{
    font-size: 40px;
    letter-spacing: 4%;
    line-height: 70px;
}
.left-size{
    width: 50%;
    padding-left: 13%;
    padding-top: 6%;
    
   
    }
.left-size img{
    width: 400px;

}
.left-pad{
    font-size: 110%;
}
.form{
    width: 350px;
    height: 480px;
    background: linear-gradient(rgb(238, 255, 255),rgb(122, 122, 255)
    );
    position: absolute;
    left: 870px;
    border-radius: 10px;
    padding: 30px;
    margin-top: 6%;

}
.form h2{
    width: 320px;
    font-family: sans-serif;
    text-align: center;
    color:rgb(0, 0, 0);
    font-size: 22px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
}
.form input{
    width: 340px;z
    height: 35px;
    background:transparent;
    border-bottom: 1px solid #000000;
    border-top: none;
    border-right: none;
    border-left: none;
    color: rgb(0, 0, 0);
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
    outline: none;
   
}
::placeholder{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.button{
    width: 340px;
    height: 40px;
    background:rgb(200, 228, 255);
    border: none;
    font: rgb(255, 255, 255);
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 30px;
}
.form .link{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    padding-top: 10px;
    text-align: center;

}
.form .link a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.icon{
    text-decoration: none;
    color: black;
    font-size: 30px;
    padding-left: 24px;
    padding-top: 5px;
   

}
footer{
    background-color: black;
    margin-top: 10%;
    color: white;
    text-align: center;
    padding: 2%;
    
}
.lst-prt{
    font-size: 106%;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
}
